div{
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 10px solid green;
}

.com-border-box{
    background-color: aquamarine;
    box-sizing: border-box;
}

.sem-border-box{
    background-color: brown;
}

/* largura + padding esq + padding dir + border esq + border dir = largura total do elemento */
/* 100 + 10 + 10 + 10 + 10 = 140 */